body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;background-color: rgb(0, 0, 0);
    color: rgb(236, 236, 236);
    text-align: center;

}
form{
    margin: auto;
    text-align: center;
    background-color: #a8a8a8;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    color: black;
    
}
div{
    margin: 10px;
    font-size: 2em;
}

button{
    margin-bottom: 5px;
    background-color: rgb(50, 50, 50);
    color: wheat;
}

input{
    background-color: black;
    color: white;
    font-size: 1.8rem;
    border-radius: 5px;
    font-weight: 100;
    font-style: italic;
}

button{
    font-size: 1.5em;
    border-radius: 5px;
    
}

.names{
    
}